<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="w-full h-screen bg-zinc-900 flex gap-5 justify-center flex-col items-center"
    >
      <h1 class="text-[2vw] text-white max-[440px]:text-3xl">
        Something Went Wrong 404
      </h1>

      <p class="text-white">Go back and try again.</p>
      <a
        href="/login"
        class="w-1/6 text-center text-white text-xl p-3 bg-red-500 rounded-lg max-[440px]:w-1/3"
        >Login</a
      >
    </div>
  </body>
</html>
